<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='https://unpkg.com/papercss@1.5.1/dist/paper.min.css' />
</head>

<body>


    <h1>We're sorry</h1>

    <p>Your request could not be completed. Please try again.</p>
    <p>
        <%= title %>
    </p>



</body>
<footer style="margin-top: 8rem;">&copy; 2018 | comp2068</footer>
</body>

</html>
