<% include partials/header.ejs %>

  <div class="row flex-center">

    <iframe src="https://archive.org/embed/<%= title %>" width="800" height="600" frameborder="0" webkitallowfullscreen="true"
      mozallowfullscreen="true" allowfullscreen></iframe>

  </div>
  <% include partials/footer.ejs %>